{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- {{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}} -->

<div class="bg-primary bg-white-dots strip-full">
  <div class="container bg-primary box">
    <div class="row strip-adaptable-col">
      <div class="col content align-items-start pt-1">
        <h2 class="text-white">{{ .Params.HeroHeading }}</h2>
        <div class="text-work text-white pt-5">{{ .Content }}</div>
      </div>
      <div class="arrow-container">
        <a class="animated-arrow " href="#team" style="--c:rgb(255, 255, 255);">
          <span class="the-arrow -left" style="--c:rgb(255, 255, 255);">
            <span class="shaft"></span>
          </span>
          <span class="main">
            <span class="text">{{ .Params.teamTitle }}</span>
            <span class="the-arrow -right" style="--c:rgb(255, 255, 255);">
              <span class="shaft"></span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

{{ $headless := .Site.GetPage "/pages/about" }}
{{ $subpages := $headless.Resources.ByType "page" }}
<div id="team" class="pt-8 pb-8 pb-md-14 pt-md-14 bg-accent-gradient">
  <div class="row justify-content-center gap-5 m-2">
    <div class="col-12 content mb-5">
      <h2 class="text-center text-black">{{ .Params.teamTitle }}</h2>
    </div>
    {{ range $subpages }}
    <div class="col-12 col-md-5 p-2 box" style="--c:#000;--w:20px;--b:1px;">
      {{ .Render "member" }}
    </div>
    {{ end }}
  </div>
</div>

{{ end }}