// Font
@mixin font($font-family, $font-file, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.ttf') format('truetype');
    font-weight: normal;
    font-style: $font-style;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@include font("neo-grotesque-bold", '/fonts/neo-grotesque-bold', 'bold');

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/social';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';
@import 'components/hero-image';
@import 'components/bg';
@import 'components/language-select';

// Pages
@import 'pages/index';
@import 'pages/services/page-services-list';
@import 'pages/services/page-services-single';
@import 'pages/services/service-summary';
@import 'pages/work/work-summary';
@import 'pages/work/page-work-single';
@import 'pages/about/member';

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }