.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-position-center {
  background-position: center;
}
.bg-position-bottom {
  background-position: bottom;
}
.bg-position-top {
  background-position: top;
}
.bg-overlay {
  background-blend-mode: overlay;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-white-dots{
  background-image: radial-gradient(circle at 1px 1px, $secondary 1px, transparent 0);
  background-size: 40px 40px;
  background-repeat: unset;
  background-blend-mode: unset;
}
.bg-black-dots{
  background-image: radial-gradient(circle at 1px 1px, $black 1px, transparent 0);
  background-size: 40px 40px;
  background-repeat: unset;
  background-blend-mode: unset;
}
.bg-accent-dots{
  background-image: radial-gradient(circle at 1px 1px, $accent 1px, transparent 0);
  background-size: 40px 40px;
  background-repeat: unset;
  background-blend-mode: unset;
}
.bg-accent-gradient{
  background: $white;
  background: linear-gradient(18deg,rgba(255, 255, 255, 1) 77%, $accent 100%);
}
