.feature {
  padding-bottom: 4rem;
  font-size: 20px;
}

.feature__content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.feature-left .feature__text {
  order: 2;
}

.feature-left .feature__image {
  order: 1;
}

.feature-right .feature__text {
  order: 1;
}

.feature-right .feature__image {
  order: 2;
}

.feature__text {
  flex: 1;
  font-size: inherit;
}

.feature__image {
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-down(md) {
  .feature__content {
    flex-direction: column;
  }

  .feature__image {
    order: 0 !important;
  }


  .feature__image--desktop {
    display: none;
  }
}