.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: top center;
  background-blend-mode: overlay;
  background-image: url('/images/rana-mia-ClItAf8G3QE-unsplash.jpg'), linear-gradient($navbar-dark-color, $accent);
  height: 400px;
  position: relative;
  padding-top: 60px;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
      @include media-breakpoint-up(lg) {
        padding-bottom: 10px;
      }
  }
  .row {
    height: inherit;
  }
  .hero-text {
    flex: 0;
    color: $white;
    margin: auto 0;
    margin-bottom: 0px;
    h1 {
      font-size: 4rem;
      font-family: $font-family-sensical;
      font-weight: 900;
      @include media-breakpoint-up(md) {
        font-size: 5rem;
        width: 80%;
      }
    }
    h2 {
      font-size: 2.2rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
    p {
      font-size: 1.2rem;
      line-height: 1.3;
      font-family: $font-family-sans-serif;
      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        width: 60%;
      }
    }
  }
  .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .hero-section {
    text-transform: uppercase;
    font-weight: normal;
  }
}
.hero-image-fullscreen {
  background-image: url('/images/rana-mia-ClItAf8G3QE-unsplash.jpg'), linear-gradient($navbar-dark-color, $accent);
  height: 100vh;
}
.hero-image-setheight {
  height: 460px;
  background-image: url('/images/rana-mia-ClItAf8G3QE-unsplash.jpg'), linear-gradient($navbar-dark-color, $accent);
  .hero-text {
    h1 {
      margin-top: 1em;
    }
  }
}
.hero-image-blend-overlay {
  background-blend-mode: overlay;
}

// Enable smooth scrolling (on hero-down click)
html {
 scroll-behavior: smooth;
}
