body{
    overflow-x: hidden;
}
.button {
    background-color: $accent;
    color: $white;
    font-size: $font-size-base;
    border-radius: $border-radius-pill;
    border-style: $border-style;
    &:hover {
        background-color: $white;
        color: $accent;
        transition: $transition-base;
    }
}
.text-work{
    font-size: 1.2rem;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
    }
}

.box {
  overflow: hidden;

  --b: 2px;      /* thickness of the border */
  --c: #fff;   /* color of the border */
  --w: 30px;     /* width of border */
  --a: #FF495F;

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.box-accent {
  overflow: hidden;

  --b: 2px;      /* thickness of the border */
  --c: #fff;   /* color of the border */
  --w: 30px;     /* width of border */
  --a: #FF495F;

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);

  &:hover{
    border: var(--b) solid var(--a);
    transition: 0.2s ease-in;
    h2, p {
        color: #FF495F !important;
    }
  }
}

.mouse-highlight span {
  position: absolute;
}

.mouse-highlight::before {
  --size: 0;
  content: '';
  position: relative;
  left: var(--x);
  top: var(--y);
  @include media-breakpoint-up(md) {
    width: var(--size);
    height: var(--size);
  }
  background: radial-gradient(circle closest-side, $accent, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.mouse-highlight:hover::before {
  --size: 500px;
}