.button {
    background-color: $accent;
    color: $white;
    font-size: $font-size-base;
    border-radius: $border-radius-pill;
    border-style: $border-style;
    &:hover {
        background-color: $white;
        color: $accent;
        transition: $transition-base;
    }
}
.text-work{
    font-size: 1.2rem;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
    }
}