.title-sensical{
    font-family: $font-family-sans-serif;
    color: $black;
}
.button {
    background-color: $accent;
    color: $white;
    font-size: $font-size-base;
    border-radius: $border-radius-pill;
    border-style: $border-style;
    &:hover {
        background-color: $white;
        color: $accent;
        transition: $transition-base;
    }
}
.color-white{
    color: $white;
}