<div class="hero-color-accent hero-full text-black">
  <div class="hero-text">
    <div class="border-black border-top border-bottom border-3 w-100 mt-10 bg-gray-100">
      <h1 class="container">{{ .heading }}</h1>
    </div>
    <div class="border-3 border-black">
    <p class="container ml-0 my-5">{{ .subheading }}</p>
    </div>
  </div>
  <div class="hero-down">
    <a href="#home">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" alt="Scroll Down">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898.75 533.751" transform="matrix(.69 0 0 .69 15.5 15.5)">
          <path
            d="M224.687 309.061L0 84.372l42.186-42.186L84.372 0l182.815 182.811L450 365.622l182.5-182.496L815 .63l41.874 41.874L898.75 84.38 674.062 309.065 449.373 533.751 224.687 309.06z" />
        </svg>
      </svg>
    </a>
  </div>
</div>