<div class="container-item btn-group language-select">
  <button type="button" class="btn btn-lg button-language fs-5">{{ .Language.Label }}</button>
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-lg h-100 button-language fs-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <!-- <span class="sr-only">Toggle Dropdown</span> -->
  </button>
  <div class="dropdown-menu dropdown-menu-dark">
    {{ range $.Site.Home.AllTranslations }}
    <a class="dropdown-item fs-5" href="{{ .RelPermalink }}">{{ .Language.Label }}</a>
    {{ end }}
  </div>
</div>