<div id="main-menu-mobile" class="main-menu-mobile">
  <ul class="container">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>

  <ul class="container">
    {{ range $.Site.Home.AllTranslations }}
    <li>
      <a class="" href="{{ .RelPermalink }}">{{ .Language.LanguageName | lower }}</a>
    </li>
    {{ end }}
  </ul>
</div>