.service-summary {
  display: flex;
  align-items: flex-start;
  .service-image {
    flex: 0 0 40px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .service-content {
    flex: 1;
    color:$black;
    .service-title {
      font-family: $font-family-avenir;
      color: $black;
      font-size: 1.5rem;
    }
    p {
      color: #666;
      font-size: 0.9rem;
      width: 90%;
    }
  }
}
