{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home" class="bg-primary bg-accent-dots strip-full">
    <div class="container bg-primary box">
      <div class="row strip-adaptable-col">
        <div class="col content align-items-start pt-1">
          <h2 class="text-white">{{ .Title }}</h2>
          <div class="text-work text-white">{{ .Content }}</div>
        </div>
        <div class="col content">
          <div class="arrow-container">
            <a class="animated-arrow" href="{{ .Params.buttonLink | relLangURL }}">
              <span class="the-arrow -left">
                <span class="shaft"></span>
              </span>
              <span class="main">
                <span class="text">{{ .Params.button }}</span>
                <span class="the-arrow -right">
                  <span class="shaft"></span>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="hero-down text-center">
    <a href="#services">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" alt="Scroll Down">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898.75 533.751" transform="matrix(.69 0 0 .69 15.5 15.5)"
          fill="#fff">
          <path
            d="M224.687 309.061L0 84.372l42.186-42.186L84.372 0l182.815 182.811L450 365.622l182.5-182.496L815 .63l41.874 41.874L898.75 84.38 674.062 309.065 449.373 533.751 224.687 309.06z" />
        </svg>
      </svg>
    </a>
  </div> -->
</div>
{{ end }}

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div id="services" class="pt-8 pb-8 pb-md-14 pt-md-14 bg-accent-gradient">
  <div class="row justify-content-center gap-5 m-2">
    <div class="col-12 content mb-5">
      <h2 class="text-center text-black">{{ with .Site.GetPage "/services/" }}{{ .Title | default "Our Services" }}{{ end }}</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-5 p-2 box-accent" style="--c:black;--w:20px;--b:1px;">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="arrow-container">
      <a class="animated-arrow " href="{{ .Site.LanguagePrefix }}/services" style="--c:black;">
        <span class="the-arrow -left" style="--c:black;">
          <span class="shaft"></span>
        </span>
        <span class="main">
          <span class="text">{{ with .Site.GetPage "/services/" }}{{ .Params.button | default "View all our Services" }}{{ end }}</span>
          <span class="the-arrow -right" style="--c:black;">
            <span class="shaft"></span>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
{{end}}

{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay">
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="content col-12 col-md-8 text-center text-white">
        <h2 class="text-white">{{ .Title }}</h2>
        {{ .Content }}
        {{ if .Params.button }}
        <div class="arrow-container mt-8" style="height: auto">
            <a class="animated-arrow " href="{{ .Params.buttonLink | relLangURL }}" style="--c:rgb(255, 255, 255);">
              <span class="the-arrow -left" style="--c:rgb(255, 255, 255);">
                <span class="shaft"></span>
              </span>
              <span class="main">
                <span class="text">{{ .Params.button }}</span>
                <span class="the-arrow -right" style="--c:rgb(255, 255, 255);">
                  <span class="shaft"></span>
                </span>
              </span>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
