{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home" class="bg-primary strip-full bg-accent-dots">
    <div class="container bg-primary box" style="--c:#FF495F; --b: 3px;">
      <div class="row strip-adaptable-col">
        <div class="col align-items-start px-2 p-md-4 p-lg-4">
          <h2 class="text-white landing-title pb-md-2">{{ .Title }}</h2>
          <div class="fs-5 text-white">{{ .Content }}</div>
        </div>
        <div class="col py-1 p-lg-4">
          <div class="arrow-container">
            <a class="button sensical-button" href="#work">
              <p class="button-link-text fs-5">{{ .Params.button }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ $work := where (where .Site.RegularPages "Type" "work") ".Params.featured" true }}
{{if gt (len $work) 0}}
<div id="work" class="bg-accent">
  <div class="justify-content-center">
    <div class="col-12 content mb-5 mt-5">
      <h2 class="container text-black fw-bolder text-center text-lg-start px-0">{{ with .Site.GetPage "/work/" }}{{ .Title | default "What we do" }}{{ end }}</h2>
    </div>
    <div class="service-summary">
    {{ range first 6 (sort $work ".Params.weight") }}
      {{ .Render "summary" }}
    {{ end }}
    </div>
    <div class="py-4 d-flex align-items-center text-center w-100 full-width-link">
      <a class="fs-1 fw-bolder container" href="{{ .Site.LanguagePrefix }}/work">
        {{ with .Site.GetPage "/work/" }}{{ .Params.button | default "See all our work" }}{{ end }}
      </a>
    </div>
  </div>
</div>
{{end}}

{{ range first 1 (after 1 $reusablePages) }}
<div id="contact" class="strip bg-primary bg-cover bg-position-top bg-overlay">
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-start justify-content-lg-center">
      <div class="content text-white text-center">
        <h2 class="text-white fw-bolder">{{ .Title }}</h2>
        <p class="fs-5">{{ .Content | plainify }}</p>
        {{ if .Params.button }}
        <div class="arrow-container mt-5" style="height: auto">
          <a class="button sensical-button" href="{{ .Params.buttonLink | relLangURL }}">
            <p class="button-link-text fs-5" style="text-decoration: none;">{{ .Params.button }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ define "footer_js" }}
{{ end }}
