{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Params.Section )}}
<div class="container my-5 my-lg-8 fs-5 px-2 px-lg-0">
    {{ .Content }}
    <ul>
      {{ if .Site.Data.contact.phone }}
      <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
      {{ end }}
      {{ if .Site.Data.contact.email }}
      <li><strong>Email: </strong><a class="a-accent" href="mailto:{{ .Site.Data.contact.email }}">
          {{ .Site.Data.contact.email }}</a></li>
      {{ end }}
      {{ if .Site.Data.contact.address }}
      <li style="white-space: pre-wrap;"><strong>Address: </strong>{{ .Site.Data.contact.address }}</li>
      {{ end }}
      {{ if .Site.Data.contact.PIC }}
      <li><strong>PIC: </strong>{{ .Site.Data.contact.PIC }}</li>
      {{ end }}
      {{ if .Site.Data.contact.VATES }}
      <li><strong>VAT Number (ES): </strong>{{ .Site.Data.contact.VATES }}</li>
      <li><strong>VAT Number (International): </strong>{{ .Site.Data.contact.VATINT }}</li>
      {{ end }}
    </ul>
</div>
{{ end }}